<!DOCTYPE html>

<html>
<head>
    <title>Live Traffic</title>
</head>

<body style="background:black; color:white; text-align:center;">

<h1>📷 Live Traffic Camera</h1>

<!-- LIVE VIDEO -->

<img src="/live_feed" width="600">

<!-- GRAPH -->

<div style="background:white; width:600px; margin:auto; padding:10px;">
    <h3>Live Traffic Trend</h3>
    <canvas id="chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('chart').getContext('2d');

const chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Vehicle Count',
            data: [],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Time (Frames)'
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Number of Vehicles'
                },
                beginAtZero: true
            }
        }
    }
});

setInterval(() => {
    fetch('/graph_data/live')
    .then(res => res.json())
    .then(data => {
        chart.data.labels = data.map((_, i) => i);
        chart.data.datasets[0].data = data;
        chart.update();
    });
}, 1000);
</script>

</body>
</html>